body {
	font-family: "Inter", sans-serif;
}

.App {
	width: 550px;
	height: 704px;
	border: 1px solid black;
}

nav {
	background-color: #f55a5a;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav > img {
	height: 24px;
	width: 24px;
	margin-right: 7px;
}

nav > h2 {
	font-size: 15px;
	font-weight: 500;
}

.card-img {
	width: 125px;
	height: 168px;
	border: 1px solid red;
}
